@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); /*Green theme*/
button, .popup form input[type=submit] {
  padding: 10px;
  background-color: #609966;
  color: #fff;
  margin: 3%;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.popup form, #viewPopup > div, #deletePopup > div {
  position: relative;
  background-color: #EDF1D6;
  width: 300px;
  min-height: 200px;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid #609966;
}

.popup, #loading {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#loading {
  background-color: rgba(0, 0, 0, 0.4);
}

.spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #9DC08B;
  border-top: 5px solid #609966;
  border-radius: 100%;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
}

.none, #load {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

#navbar {
  background-color: #609966;
  color: #EDF1D6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

#search {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search input, #search select, #search button {
  height: 30px;
  border: 1px solid #40513B;
  outline: 0;
}

#search button {
  margin: 0;
  border-radius: 0;
  width: -moz-fit-content;
  width: fit-content;
  border-left: 0px;
}

#list, button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content, #list div, button div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table#albums {
  display: block;
  max-height: 60vh;
  overflow-y: scroll;
  position: relative;
}
table#albums thead {
  position: sticky;
  top: 0;
}
table#albums th {
  background-color: #609966;
  color: #EDF1D6;
  text-align: center;
  position: relative;
  padding: 10px;
}
table#albums th:nth-child(odd) {
  width: 100px;
}
table#albums .sortIcons {
  position: absolute;
  top: 5px;
  right: 10px;
}
table td {
  padding: 10px;
}

.popup h1 {
  text-align: center;
  color: #40513B;
}
.popup form input {
  border: 0;
  outline: 0;
  width: 80%;
  border-bottom: 1px solid #40513B;
  background-color: #EDF1D6;
}
#viewPopup > div table {
  margin: 5%;
  border-collapse: collapse;
}
#viewPopup > div table td {
  border: 1px solid #40513B;
}
#viewPopup > div > img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

#deletePopup > div {
  min-height: 100px;
  padding: 3%;
}
#deletePopup .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#deletePopup .buttons button {
  width: 40%;
}

#updateAlbum table td {
  border: 0;
}

.fa-xmark {
  position: absolute;
  top: 3%;
  right: 3%;
}
.fa-trash-can {
  color: #9c2017;
}
.fa-caret-up, .fa-caret-down, .fa-magnifying-glass {
  color: #EDF1D6;
}

i {
  cursor: pointer;
  color: #40513B;
}/*# sourceMappingURL=style.css.map */