@use "../themes/" as theme;
@use "./mixins";

%buttonStyles{
    padding: 10px;
    background-color: theme.$dark;
    color: theme.$white;
    margin: 3%;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

%popupStyles{
    position: relative;
    background-color: theme.$lighter;
    width: 300px;
    min-height: 200px;
    padding: 2%;
    @include mixins.flexCenter();
    flex-direction: column;
    justify-content: space-evenly;    
    border: 5px solid theme.$dark;
}

%overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.6);
}